*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.contenedor{
    width: 100%;
    height: 100vh;
    background: url(cuentabg.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuenta-contenido{
    width: 100%;
    max-width: 450px;
    background-color: rgb(55, 55, 68);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.cuenta-contenido h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #fff;
    position: relative;
}

.cuenta-contenido h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: rgb(197, 72, 120);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background-color: rgba(214, 214, 214, 0.548);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: white;
}
input::placeholder{
    color: #fff;
}

.input-field i{
    margin-left: 15px;
    color: rgb(197, 72, 120);

}

form p{
    color: white;
    text-align: left;
    font-size: 13px;
}

form p a{
    color: rgb(197, 72, 120);
    margin-left: 5px;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    font-size: 16px;
    background-color: rgb(197, 72, 120);
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}


